body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #fefefe;

  background-color: #849d8f;
}

.visually-hidden {
  position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #ffbc9e;
}

.social ul,
.social li,
.about-us li,
.about-us ul,
.breadcrumbs ul,
.breadcrumbs li,
.site-navigation,
.site-navigation-att,
.user-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  display: inline-block;
  padding: 14px 20px;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  background-color: #e74a35;

/?
  object-fit: contain;
  border-radius: 30px;
}

.button:hover,
.button:focus {
  color: #fefefe;
}

a.button:active {
  color: #fceeec;
}

.wrapper {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

/* БЛОК header */
.main-header {
  display: flex;
  flex-direction: column;
  width: 1146px;
  margin: 0 auto;
  padding-right: 27px;
  padding-left: 27px;
  margin-bottom: 10px;


/* Временно для сетки */
min-height: 73px;


}

/* БЛОК NAV */
.main-navigation {
  display: flex;
  /justify-content: space-around;



/* Временно для сетки */

}

/* БЛОК ЛОГО */
.logo {
/* Временно для сетки */
display: block;
justify-self: flex-start;
width: 154px;
margin-top: 9px;
margin-right: 24px;
}


/*МЕНЮ основное*/
.site-navigation {
  display: flex;

  flex-grow: 1;
  width: 349px;
  margin-top: 32px;

  line-height: 18px;
  font-weight: bold;
}

.site-navigation>li {
  padding-right: 30px;
  }

/*АКТИВНОСТЬ*/
.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #fff;
  color: blueviolet; /* ПРОВЕРКА*/
}

.site-navigation a:active {

}

.site-navigation-active {

}

/*МЕНЮ выпадающее*/
.site-navigation-att {
  background-color: #f8f7f4;
/* Временно для сетки */
position: absolute;
top: 79px;
}

.site-navigation-att a {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #323232;
}

.site-navigation-new a {
  font-weight: bold;
}


/*АКТИВНОСТЬ*/
.site-navigation-att a:hover,
.site-navigation-att a:focus {
    color: #fa2686; /* ПРОВЕРКА*/
}

.site-navigation-att a:active {

}

.site-navigation-att-active a {

}

/* БЛОК ПОЛЬЗОВАТЕЛЬ НАВИГАЦИИ*/

.user-navigation {
  justify-self: end;

  display: flex;

  margin-top: 22px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.button-search {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 33px;
  margin-right: 10px;

  background-color: #9FB3A8;
}

.button-search::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  margin-right: 10px;
  top: 8px;
  left: 8px;
  background-image: url(../img/header-seach.svg);
  background-repeat: no-repeat;
}

.login-link {
  display: inline-block;
  position: relative;
  width: 93px;
  height: 33px;
  margin-right: 10px;
  padding-top: 9px;
  padding-left: 44px;

background-color: #9FB3A8;
}

.login-link::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 19px;
  margin-top: 9px;
  top: -3px;
  left: 16px;
  background-image: url(../img/header-entrance.svg);
  background-repeat: no-repeat;
}

.basket-nav {
  position: relative;
  width: 100px;
  height: 33px;
  padding-top: 9px;
  padding-left: 45px;

background-color: #9FB3A8;
}

.basket-nav::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 20px;
  margin-top: 9px;
  top: -3px;
  left: 16px;
  background-image: url(../img/header-basket.svg);
  background-repeat: no-repeat;
}

.basket-nav-buy {
  position: relative;
  width: 100px;
  height: 33px;
  padding-left: 45px;
}

.basket-nav-buy::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 20px;
  top: -2px;
  left: 16px;
  background-image: url(../img/header-basket-red.svg);
  background-repeat: no-repeat;
}

/* КОНТАКТЫ  */

.main-contact {
  align-self: flex-end;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  margin: 0;
}
.main-contact p{
  padding-left: 17px;
  margin-bottom: 6px;
}
.main-contact a {
  font-size: 22px;
  line-height: 24px;
}

/* БЛОК Хлебных крошек */
.breadcrumbs {
  display: flex;
  padding: 0;
}
.breadcrumbs li {
  position: relative;
  padding-right: 20px;
}

/* НЕПОНЯТНО, не работает */
.breadcrumbs li::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  top: 3px;
  right: 4px;
  padding: 0;
  background-image: url(/img/icon-right-small.svg);
  background-repeat: repeat-x;
  color: #fefefe;
}

/* БЛОК slider */
.main-slider p {
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
}

.main-slider a {
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
}

.main-slider .button:hover,
.main-slider .button:focus {
  color: #ffffff;
}

.main-slider .button:active {
  color: #fceeec;
}

/* обертка для ПРОМО и БЛОГ-РАССЫЛКИ */
.wraper-2 {
  display: flex;
  width: 1146px
}

.promo-1, .promo-2,
.blog-new, .letters {
  display: flex;
  flex-direction: column;
  /justify-content: space-between;
  width: 560px;
  padding-bottom: 23px;
  margin-bottom: 40px;
  object-fit: contain;
  border-radius: 15px;
}

.promo-1 {
  height: 229px;
  margin-right: 26px;
  background-image: url(.../img/promo-raspberry-m.jpg);
  background-repeat: no-repeat;
}

.promo-2 {
  height: 229px;
  background-image: url(/img/promo-chocolate-m.jpg);
  background-repeat: no-repeat;
}

/* БЛОК promo */
.promo h3 {
  margin: 0 23px;
  margin-top: 20px;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.promo p {
  margin: 0 23px;
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
}

.promo .button {
  align-self: flex-end;
  /justify-self: flex-end;
 / так же ж нелзя ж?
 margin-top: 38px;
  margin-bottom: 23px;
  margin-right: 21px;
}

.promo  a {

}
/* обертка для КАТАЛОГА */
.wraper-4 {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1146px;
}

.catalog-card {
  position: relative;
  width: 267px;
}


.ice-cream-hit::after {
  position: absolute;
  content: "";
  background-image: url(/img/cat-hit.svg);
  width: 61px;
  height: 61px;
  top: 0;
  left: 0;
}

/* БЛОК ice-cream */
.price {
  position: absolute;
  top: 212px;
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
}

.price span {
  font-size: 45px;
}

.ice-about {
  font-weight: 500;
  text-align: center;
}

/* БЛОК about */
.about {
  background-image: url(/img/promo-waffle-pat.jpg);
  width: 1146px;
  margin-top: 40px;
  padding: 25px 21px;
  object-fit: contain;
  border-radius: 15px;
  color: #323232;

}
.about-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 1146px;
}

.about h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin: 0;
}
.about p {
  position: relative;
  display: block;
  width: 552px;
  margin-top: 22px;
  padding-left: 56px;
}

/* тут должны быть иконки на все 4 абзаца, но:
-у меня что то и одну не видно пока
*/


.about p::before {
  position: absolute;
  content: "";
  width: 49px;
  height: 49px;
  top: -13px;
  left: -1px;
  background-image: url(/img/about-cream.svg);
  background-repeat: no-repeat;

}

/* БЛОК blog-new */
.blog-new {
  height: 220px;
  margin-top: 40px;
  margin-right: 26px;
  padding: 24px 20px;
  background-image: url(/img/promo-filling-m.jpg);

}
.blog-new h2 {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
}

.blog-new  h3 {
  width: 290px;
  margin: 13px 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  /?text-decoration: underline;
  color: #323232;
}


/* БЛОК letters */
.letters {
  height: 220px;
  margin-top: 40px;
  padding: 27px 35px;
  background-image: url(/img/promo-mail.png);
  color: #5a5a5a;
}

/* БЛОК map */
.map {
  position: relative;
  width: 1200px;
  left: -27px;
}

.map-img {
    width: 1200px;
}

.contact {
  position: absolute;
  width: 302px;
  padding: 31px 25px;
  top: 63px;
  right: 27px;
  font-size: 14px;
  line-height: 20px;
  background-color: #ffffff;
  color: #323232;
}

.contact a {
  display: block;
  margin-top: 8px;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: bold;
  color: #323232;
}

.contact a.button {
  margin-top: 24px;
  line-height: 24px;
  color: #fefefe;
}

.contact address {
  margin-bottom: 23px;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: bold;
}

/* ---------- БЛОК footer */
.footer-wrapper {
  display: flex;
  justify-content: space-between;
/margin: 0;   /* почему, если я его убираю совсем, исчезают иконки svg)  Перестали исчезать....*/
}

/* БЛОК social */
.social-wrapper {
  display: flex;
  width: 267px;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  padding-right: 81px;

  /background-color: rgb(53, 172, 93);
}

.social ul {
  margin-top: 36px;
  margin-bottom: 29px;
}

.social-wrapper li:nth-child(1) {
  box-sizing: border-box;
  /border: 1px solid #323232;
  width: 38px;
  height: 38px;
  background-image: url(../img/soc-twitter.svg);
  background-repeat: no-repeat;
  opacity: 0.8;
}

.social-wrapper li:nth-child(2) {
  box-sizing: border-box;
  /border: 1px solid #323232;
  width: 38px;
  height: 38px;
  background-image: url(../img/soc-instagram.svg);
  background-repeat: no-repeat;
  opacity: 0.8;
}

.social-wrapper li:nth-child(3) {
  box-sizing: border-box;
  /border: 1px solid #323232;
  width: 38px;
  height: 38px;
  background-image: url(../img/soc-fb.svg);
  background-repeat: no-repeat;
  opacity: 0.8;
}

.social-wrapper li:nth-child(4) {
  box-sizing: border-box;
  /border: 1px solid #323232;
  width: 38px;
  height: 38px;
  background-image: url(../img/soc-vk.svg);
  background-repeat: no-repeat;
  opacity: 0.8;
}

.social a {
}

/* БЛОК about-us */
.about-us-wrapper {
  display: flex;
  width: 360px;
  flex-wrap: wrap;
  /justify-content: space-between;
}
.about-us ul {
  margin-top: 37px;
}

.about-us li {
  font-size: 13px;
  line-height: 18px;
  padding-bottom: 9px

}
.about-us a {
  margin-right: 32px;
}

.about-us-provider {
  position: relative;
  font-weight: bold;
}

.about-us-provider::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 13px;
  left: -20px; /* если .about-us-wrapper задать position: relative; */
  /left: 402px;
  background-image: url(../img/footter-heart.svg);
  background-repeat: no-repeat;
}

/* БЛОК copyright */
.copyright {
  width: 267px;
  padding-left: 76px;
  margin-top: 18px;
  margin-bottom: 25px;
}

.copyright img {

}

.copyright p {
  font-size: 12px;
  line-height: 18px;

  margin-top: 5px;
  margin-bottom: 0px;
}

/* ---------- ФОРМЫ */
/* БЛОК search */
.search {
    background-color: #f8f7f4;

    font-size: 14px;
    line-height: 24px;
    color: #999999;
}

.search input {
    background-color: #fff;
}

/* БЛОК login */
.login {
    background-color: #f8f7f4;

    font-size: 14px;
    line-height: 24px;
    color: #999999;
}

.login a {
    font-size: 13px;
    line-height: 24px;
    color: #323232;
}

/* БЛОК reply */
.reply {
    background-color: #f8f7f4;
    color: #999999;
}

.reply input {
    line-height: 24px; /*не работает*/
}

.reply h2 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
}

/* БЛОК basket */
.basket{
    line-height: 16px;
}

.basket-nav-buy {
    background-color: #f8f7f4;
}

.basket-nav-buy a {
    font-size: 14px;
    line-height: 16px;
    color: #323232;
}

.basket-buy  {
    background-color: #f8f7f4;
}

.basket-buy td,
.basket-buy a {
    font-size: 13px;
    line-height: 16px;
    color: #323232;
}

.basket-price {
    color: #999999;
}

.basket-price-total {
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
    color: #323232;
}
/* БЛОК sort */
