body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #fefefe;

  background-color: #849d8f;
}

.visually-hidden {
  position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #ffbc9e;
}

.button {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
}

.button:hover,
.button:focus {
  color: #fefefe;
}

a.button:active {
  color: #fceeec;
}

.wrapper {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

/* БЛОК header */
.main-header {
  margin-bottom: 10px;


/* Временно для сетки */
height: 73px;


}

/* БЛОК NAV */

.social ul,
.social li,
.about-us li,
.about-us ul,
.site-navigation,
.site-navigation-att,
.user-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navigation {
  display: flex;
  /justify-content: space-around;


/* Временно для сетки */

}

/* БЛОК ЛОГО */
.logo {
/* Временно для сетки */
display: block;
justify-self: flex-start;
width: 154px;
margin-top: 9px;
}


/*МЕНЮ основное*/
.site-navigation{
  display: flex;



  line-height: 18px;
  font-weight: bold;
}

/*АКТИВНОСТЬ*/
.site-navigation a:hover,
.site-navigation a:focus {
    background-color: #fff;
    color: blueviolet; /* ПРОВЕРКА*/
}

.site-navigation a:active {

}

.site-navigation-active {

}

/*МЕНЮ выпадающее*/
.site-navigation-att {
    background-color: #f8f7f4;
/* Временно для сетки */
position: absolute;
top: 79px;
}

.site-navigation-att a {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #323232;
}

.site-navigation-new a {
    font-weight: bold;
}

/*АКТИВНОСТЬ*/
.site-navigation-att a:hover,
.site-navigation-att a:focus {
    color: #fa2686; /* ПРОВЕРКА*/
}

.site-navigation-att a:active {

}

.site-navigation-att-active a {

}

/* БЛОК ПОЛЬЗОВАТЕЛЬ НАВИГАЦИИ*/

.user-navigation {
  display: flex;

  width: 267px;

    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.button-search {

}

.main-contact {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
}

.main-contact a {
    font-size: 22px;
    line-height: 24px;
}

/* БЛОК slider */
.main-slider p {
    font-size: 60px;
    line-height: 60px;
    font-weight: bold;
}

.main-slider a {
    font-size: 32px;
    line-height: 44px;
    font-weight: bold;
}

.main-slider .button:hover,
.main-slider .button:focus {
    color: #ffffff;
}

.main-slider .button:active {
    color: #fceeec;
}


/* Хлебные крошки */
.breadcrumbs {
  /* Временно для сетки */
  display: flex;
  min-height: 300px;
}


/* обертка для ПРОМО и БЛОГ-РАССЫЛКИ */
.wraper-2 {
  display: flex;
  width: 1146px
}

.card-1, .card-2 {
  width: 560px;
}

/* БЛОК promo */
.promo h3 {
    font-size: 35px;
    line-height: 41px;
    font-weight: bold;
}

.promo p {
    font-size: 18px;
    font-weight: bold;
}

/* обертка для КАТАЛОГА */
.wraper-4 {
  display: flex;
  width: 1146px;
  flex-wrap: wrap;
}

.catalog-card {
  width: 267px;
}

/* БЛОК ice-cream */
.price {
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
}

.price span {
    font-size: 45px;
}

.ice-about {
    font-weight: 500;
}

/* БЛОК about */

.about h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}
.about p {

}

/* БЛОК blog-new */
.blog-new h2 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #323232;
}

.blog-new  h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-decoration: underline;
}

/* БЛОК letters */

/* БЛОК map */
.map {

}

.contact {
    font-size: 14px;
    line-height: 20px;
}

.contact a {
    font-size: 18px;
    font-weight: bold;
}

.contact a.button {
    line-height: 24px;
}

.contact address {
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    font-weight: bold;
}

/* ---------- БЛОК footer */
.footer-wrapper {
  display: flex;
  justify-content: space-between;
/margin: 0;   /* почему, если я его убираю совсем, исчезают иконки svg)  Перестали исчезать....*/
}

/* БЛОК social */
.social-wrapper {
  display: flex;
  width: 267px;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  padding-right: 81px;

  /background-color: rgb(53, 172, 93);
}

.social ul {
  margin-top: 36px;
  margin-bottom: 29px;
}

.social-wrapper li:nth-child(1) {
  box-sizing: border-box;
  /border: 1px solid #323232;
  width: 38px;
  height: 38px;
  background-image: url(/img/soc-twitter.svg);
  background-repeat: no-repeat;
  opacity: 0.8;
}

.social-wrapper li:nth-child(2) {
  box-sizing: border-box;
  /border: 1px solid #323232;
  width: 38px;
  height: 38px;
  background-image: url(/img/soc-instagram.svg);
  background-repeat: no-repeat;
  opacity: 0.8;
}

.social-wrapper li:nth-child(3) {
  box-sizing: border-box;
  /border: 1px solid #323232;
  width: 38px;
  height: 38px;
  background-image: url(/img/soc-fb.svg);
  background-repeat: no-repeat;
  opacity: 0.8;
}

.social-wrapper li:nth-child(4) {
  box-sizing: border-box;
  /border: 1px solid #323232;
  width: 38px;
  height: 38px;
  background-image: url(/img/soc-vk.svg);
  background-repeat: no-repeat;
  opacity: 0.8;
}

.social a {
}

/* БЛОК about-us */
.about-us-wrapper {
  display: flex;
  width: 360px;
  flex-wrap: wrap;
  /justify-content: space-between;
}
.about-us ul {
  margin-top: 37px;
}

.about-us li {
  font-size: 13px;
  line-height: 18px;
  padding-bottom: 9px

}
.about-us a {
  margin-right: 32px;
}

.about-us-provider {
  position: relative;
  font-weight: bold;
}

.about-us-provider::after {
  content: "";
  width: 15px;
  height: 13px;
  position: absolute;
  left: -20px; /* если .about-us-wrapper задать position: relative; */
  /left: 402px;
  background-image: url(/img/footter-heart.svg);
}

/* БЛОК copyright */
.copyright {
  width: 267px;
  padding-left: 76px;
  margin-top: 18px;
  margin-bottom: 25px;
}

.copyright img {

}

.copyright p {
  font-size: 12px;
  line-height: 18px;

  margin-top: 5px;
  margin-bottom: 0px;
}

/* ---------- ФОРМЫ */
/* БЛОК search */
.search {
    background-color: #f8f7f4;

    font-size: 14px;
    line-height: 24px;
    color: #999999;
}

.search input {
    background-color: #fff;
}

/* БЛОК login */
.login {
    background-color: #f8f7f4;

    font-size: 14px;
    line-height: 24px;
    color: #999999;
}

.login a {
    font-size: 13px;
    line-height: 24px;
    color: #323232;
}

/* БЛОК reply */
.reply {
    background-color: #f8f7f4;
    color: #999999;
}

.reply input {
    line-height: 24px; /*не работает*/
}

.reply h2 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
}

/* БЛОК basket */
.basket{
    line-height: 16px;
}

.basket-nav-buy {
    background-color: #f8f7f4;
}

.basket-nav-buy a {
    font-size: 14px;
    line-height: 16px;
    color: #323232;
}

.basket-buy  {
    background-color: #f8f7f4;
}

.basket-buy td,
.basket-buy a {
    font-size: 13px;
    line-height: 16px;
    color: #323232;
}

.basket-price {
    color: #999999;
}

.basket-price-total {
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
    color: #323232;
}
/* БЛОК sort */
